<div class="container px-4 px-lg-5">

    <!-- Address -->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Address</h4>
                    <hr class="my-4 mx-auto" />
                    <div class="small text-black-50">
                        <a href="https://www.google.com/maps/@16.7937722,94.740408,415m/data=!3m1!1e3">{{address}}</a>
                      </div>
                </div>
            </div>
        </div>

        <!-- Email -->
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-envelope text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Email</h4>
                    <hr class="my-4 mx-auto" />
                    <div class="small text-black-50">
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">
                            {{email}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Phone -->
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-mobile-alt text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Phone</h4>
                    <hr class="my-4 mx-auto" />
                    <div class="small text-black-50 ">{{phone}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Social contact -->
    <div class="social d-flex justify-content-center">
        <!-- <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a> -->
        <a class="mx-2" href="https://www.facebook.com/ehdarler">
            <i class="fab fa-facebook-f text-primary"></i>
        </a>
        <a class="mx-2" href="https://github.com/ehder">
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>
