<body id="page-top">

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container px-4 px-lg-5">

           <a class="navbar-brand" href="#page-top">
              <i class="fas fa-space-shuttle"></i>
           </a>

          <button class="navbar-toggler navbar-toggler-right" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarResponsive" 
                    aria-controls="navbarResponsive" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                  <li class="nav-item"><a class="nav-link" href="#signup">Signup</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Masthead-->
  <header class="masthead">
      <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
          <div class="d-flex justify-content-center">
              <div class="text-center">
                  <h1 class="mx-auto my-0 text-uppercase">Hello World</h1>
                  <h2 class="text-white-50 mx-auto mt-2 mb-5 ">Hello, my name is Saw Eh Dar Ler, 
                      And my portfolio is a representation of all that i've learned.</h2>
                  <a class="btn btn-dark" href="#about">Get Started</a>
              </div>
          </div>
      </div>
  </header>

  <!-- About-->
  <section class="about-section text-center" id="about">
     <app-about></app-about>
  </section>

  <!-- Skill-->
  <section class="skill-section text-center" id="skill">
    <app-skill></app-skill>
  </section>

  <section class="text-center userinput-section">
    <div>
        <!-- TODO feature -->
    </div>
  </section>

  <!-- Projects-->
  <section class="projects-section text-primary" id="projects">
    <div class="container px-4 px-lg-5" >
      <app-project ></app-project>
      </div>
  </section>

  <!-- Signup-->
  <section class="signup-section" id="signup">
    <app-signup></app-signup>
  </section>

  <!-- Contact-->
  <section class="contact-section bg-black">
      <app-contact></app-contact>
  </section>


  <!-- Footer-->
  <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; My Website 2021</div></footer>

</body>

<router-outlet></router-outlet>